SUPABASE_URL=https://cqulufkjijjlvyuqwudk.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxdWx1ZmtqaWpqbHZ5dXF3dWRrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDE5OTk4NjEsImV4cCI6MjA1NzU3NTg2MX0.ijwizdD9j3KWDnriCOfv5Pltrf4la_rf3iYSDi8GuEQ
SUPABASE_TEST_USER=
SUPABASE_TEST_PASSWORD=